<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Track My Show!</title>
        <meta charset="UTF-8">

        <!--<link href="css/style.css" rel="stylesheet">-->
        
        
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/site.css" rel="stylesheet">
        
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/angular-ui-router.js"></script>

        <script src="lib/app.js"></script>

    </head>

<body ng-app="MyApp">
    
    <div class="container" ng-controller="mainCtrl">
        <form>
            <div class="input-group">
                <input type="text" ng-model="searchString" placeholder="Search TV Show..." class="form-control" aria-label="...">
                <div class="input-group-btn">
                <button type="submit" ng-click="search(searchString)" class="btn btn-default" aria-haspopup="true" aria-expanded="false">
                    Search</button>
                </div>
            </div>    
        </form>
        <hr>          
        <section class="col-xs-12 col-sm-6 col-md-12">
            <search-result ng-repeat="show in searchResults.data"></search-result>     
        </section>  
    </div>
    
</body>
</html>