<navbar-directive></navbar-directive>

<div class="container" style="text-align: center;">
    <img src="https://cdn.auth0.com/avatars/si.png"  class="img-circle" style="height: 150px; width: 150px;"  alt=""> 
    <span style="color: #fff; font-size: 2em; background: #333;padding-left: 20px;">{{profile.profile.email}}</span>
</div>


<div style="margin-top: 40px; height: 100%; background: #E8E8E8; opacity: 0.95;">   

    <div id="headerBar" style="height: 40px; background: #333;">
    </div>

    <div class="container" style="opacity: 1;" >
        <div class="row" ng-repeat="show in profile.profile.fav" >
                <div  style="text-align: center;" >
                <a class="thumbnail" >
                    <img ng-src="http://thetvdb.com/banners/{{show.banner}}" alt="Lorem ipsum" />
                    <p style="color: #333;font-size: 1.5em; padding-top: 10px;">
                        <i class="glyphicon glyphicon-film"></i><span><b> Watch it on: </b> {{show.network}}</span>                        
                    </p>
                    
                </a>               
                
                </div>
        </div> 
    </div>
</div>


<!--
<div style="text-align: center;">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Fav. Shows</h3>
    </div>
    <div class="panel-body">


            <div class="row" ng-repeat="show in profile.profile.fav" >

                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;" >
                <a href="#" title="Lorem ipsum" class="thumbnail">
                    <img ng-src="http://thetvdb.com/banners/{{show.banner}}" alt="Lorem ipsum" />
                </a>
                </div>
            </div> 

        
    </div>
    </div>

    <div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Watch List</h3>
    </div>
    <div class="panel-body">
        None added!        
    </div>
    </div>

</div>
-->
