<navbar-directive></navbar-directive>

<div class="container" style="text-align: center;">
    <img src="https://cdn.auth0.com/avatars/si.png"  class="img-circle" style="height: 150px; width: 150px;"  alt=""> 
    <span style="color: #fff; font-size: 2em; background: #333;padding-left: 20px;">{{profile.profile.email}}</span>
</div>


<div style="margin-top: 40px; height: 100%; background: #E8E8E8; opacity: 0.95;">   

    <div id="headerBar" style="height: 40px; background: #333;">
    </div>

    <div class="container" style="opacity: 1;" >
        <div class="row">
            <div ng-repeat="show in profile.profile.fav"            
                class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumb">
                <span class="thumbnail animated fadeInUp"  style="border: none;background: #fff;">
                    <a href="" ng-click="profile.viewShowDetails(show)">
                        <img ng-src="http://thetvdb.com/banners/{{show.poster}}" class="img-thumbnail" style="max-height: 350px;" >
                    </a>
                    <div class="row" style="height: 35px; background: #333;opacity: 1.0;text-align: right;padding-right: 10px;padding-top: 5px;">                        
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                           <a title="{{show.pgrating}}" class="poster" >{{show.pgrating}}</a>                           
                        </div>                

                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <a title="Show Rating {{show.rating}}" class="poster" ><i class="fa fa-heart" style=" color: indianred" ></i><span style="font-size: .93em;"> {{show.rating}}</span></a>
                        </div>                        
                    </div>     
                </span> 
            </div>
        </div>

        <div class="row" style="opacity: 1; background: #fff;" ng-if="profile.showDetails">

            <div class="row">
                <div class="col-md-4" id="showDetail_Poster" style="text-align: center;margin-top: 9px;margin-bottom: 9px;">
                    <img ng-src="http://thetvdb.com/banners/{{profile.showDetails.poster}}" class="img-thumbnail" style="max-height: 350px;" >
                </div>
                <div class="col-md-8" id="showDetail_Details">
                    <div class="row">
                        <div class="col-md-12">
                            <span style="font-size: 1.9em;">{{profile.showDetails.seriesName}} </span><span>({{profile.showDetails.status}})</span>  <a href="" title="Remove '{{profile.showDetails.seriesName}}' from collection" ng-click="profile.removeFromCollection(profile.showDetails)"><span style="color: red;"><i class="fa fa-heart"></i></span> </a>         
                             <div>First Aired on: {{profile.showDetails.firstAired}}</div>
                             <div>Network: {{profile.showDetails.network}}</div>
                             <div ng-if="profile.showDetails.airsDayOfWeek">Next Airs on: {{profile.showDetails.airsDayOfWeek}} at {{profile.showDetails.airsTime}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 excerpet" id="showDetails_Overview" style="margin-top: 20px;">
                            {{profile.showDetails.overview}}
                        </div>
                    </div>
                </div>
            </div>    
        </div>
</div>
