<hr>    
<article class="search-result row">
    <div class="col-xs-12 col-sm-12 col-md-3">
        <a href="#" title="Lorem ipsum" class="thumbnail">
            <img ng-src="http://thetvdb.com/banners/{{show.banner}}" alt="Lorem ipsum" />
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
            <li><i class="glyphicon glyphicon-time"></i> <span>{{show.firstAired}}</span></li>
            <li><i class="glyphicon glyphicon-facetime-video"></i> <span>{{show.network}}</span></li>            
            <li><i class="glyphicon glyphicon-bullhorn"></i> <span>{{show.status}}</span></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
        <h3><a href="#" title="">{{show.seriesName}}</a></h3>
        <p>{{show.overview | limitTo: 400 }}...</p>						
        <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-heart"></i></a></span>
    </div>
    <span class="clearfix borda"></span>
</article>